@charset "utf-8";
/* CSS Document */
*{
	margin:  0;padding: 0;
	box-sizing: border-box;
	font-family: gudea;
	
}
body{
	
	display: grid;
	place-items: center;
}
.cardcontainer{
	width: 320px;
	height: 520px;
	background:#ffb3c1;
	border-radius: 25px;
	display: flex;
	justify-content: 
		center;
	align-items: center;
	flex-direction: column;
	}
header{
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	}
.profile{
	background-image: url("IMG-20210913-WA0011.jpg");
	width: 160px;
	height: 160px;
	border-radius: 50%;
	background-size: cover;
	border: 5px solid #a4133c;
				
}
.name{
	color: black;
	font-weight: bold;
	font-size: 26px;
	margin-top: 25px;
}
.bio{
     color:#a4133c;
	margin-top: 7px;
}	
section{
	    display: grid;
	grid-template-columns: repeat(3,3fr);
	    grid-gap: 40px;
	    margin: 0 20px;
}	
.cardItem{
	     display: flex;
	     flex-direction: column;
	     align-items: center;
}	
.cardItem .value{
	            font-weight: bold; font-size: 20px;
	            color: black; padding: 5px;
}	
.cardItem .title{
	            font-size: 14px;
	            color: black;
	letter-spacing: 1px;
}
.follow{
	   width: 250px; height: 40px;
	   border: none; outline: none;
	   border-radius: 15px;
	   cursor: pointer;
	   background-color: #a4133c;
	   color:black;
}
.more{
	  display: grid;
	  grid-template-columns: repeat(3,3fr);
	  grid-gap: 80px;
	  margin: 40px 0 0;
}
.more i{
	   font-size: 30px;
	   color:black;
	   cursor: pointer;
		
}


